name: Process File and Comment on PR

on:
  pull_request:
    paths:
      - '**/*' 

jobs:
  process-file:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Read and Process File
        run: |
          file_contents=$(cat "Testing.txt")
          processed_content="Processed content: $file_contents"
          echo "::set-output name=processed_content::$processed_content"
        id: process-file

      - name: Comment on PR
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const processedContent = process.env.INPUT_PROCESSED_CONTENT;
            const info = github.context;
            github.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: info.issue.number,
              body: processedContent
            });
