name: Process File and Comment on PR

on:
  pull_request:
    paths:
      - '**/*'

jobs:
  process-file:
    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Read and Process File
      run: |
        # Replace 'path/to/your/file.txt' with the actual path to your file
        file_contents=$(cat "Message.txt")
        processed_content="Processed content: $file_contents"
        echo "::set-output name=processed_content::$processed_content"
      id: process-file

    - name: Comment on PR
      uses: actions/github-script@v7
      with:
        script: |
          const processedContent = process.env.INPUT_PROCESSED_CONTENT;
          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: processedContent
          })
