name: Process File and Comment on PR

on:
  pull_request:
    paths:
      - '**/*'

jobs:
  process-file:
    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 2
        
    - name: Get changes
      run: 
        if git diff --name-only -r HEAD^1 HEAD | grep -q "^Message.txt$"; then
          echo "Changes detected in Message.txt"
        else
          echo "No changes in Message.txt"
        fi

    - name: Read and Process File
      run: |
        file_path="Message.txt"
        # Check if the file has been modified
        if git diff --quiet "$file_path" &>/dev/null; then
          echo "File $file_path has not been modified. Skipping processing."
        else
          file_contents=$(cat "$file_path")
          processed_content="Processed content: $file_contents"
          echo "::set-output name=processed_content::$processed_content"
        fi
      id: process-file

    - name: Check if file modified
      run: |
        if [[ ${changes[@]} =~ "Message.txt" ]]; then
          echo "File modified!"
        else
          echo "File not modified."
        fi

    - name: Comment on PR
      if: steps.process-file.outputs.processed_content != ''
      uses: actions/github-script@v7
      with:
        script: |
          const processedContent = "${{ steps.process-file.outputs.processed_content }}";
          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: processedContent
          })
