name: Process File and Comment on PR

on:
  pull_request:
    paths:
      - '**/*'

jobs:
  process-file:
    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 2

    - name: Read file contents
      id: read_file
      uses: andstor/file-reader-action@v1
      with:
        path: "Message.txt"

    - name: Process File
      run: |
        file_path="Message.txt"
        # Check if the file has been modified
        if git diff --name-only -r HEAD^1 HEAD | grep -q "^Message.txt$"; then
          file_contents=$(< "$file_path")
          processed_content="Processed content: $file_contents"
          echo "::set-output name=processed_content::$processed_content"
          echo "::set-output name=boolVariable::true"
        else
          echo "File $file_path has not been modified. Skipping processing."
          echo "::set-output name=boolVariable::false"
        fi
      id: process-file

    - name: Comment on PR
      if: steps.process-file.outputs.boolVariable == true
      uses: actions/github-script@v7
      with:
        script: |
          const readContent = `${{ steps.read_file.outputs.contents }}`;
          console.log("Read content:", readContent);
          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: readContent
          })